.comment-wrapper {
    margin: 1.5rem 0 1.5rem 1.5rem;
    .user {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 0.9rem;
        .avatar {
            border-radius: 50%;
            padding: 6px 9px;
            color: #fff;
            background-color: dodgerblue;
            margin-right: 4px;
        }
    }
    .text {
        font-style: italic;
        font-size: 1rem;
    }
    .timestamp {
        font-style: italic;
        color: gray;
        font-size: 0.8rem;
    }
    .actions {
        small {
            cursor: pointer;
            padding-right: 4px;
            color: dodgerblue;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}